body {
background-image: url("../image/image.jpg");

height: 100vh;
 

}
#btn li{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    

}
footer{
    display: block;
    align-items: flex-end ;
    justify-content: space-between;
}

body div  ul li a {
    transform: scale(1.1);

}